service vendor.mpayjoyca /odm/bin/payjoyca
    class hal
    user system
    group system
    oneshot
    disabled
    interface aidl vendor.xiaomi.hardware.mpayjoyca.IPayjoyService/default

on property:sys.boot_completed=1
    setprop ro.vendor.oem.boot_completed ${sys.boot_completed}
    start vendor.mpayjoyca
